
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12" style="text-align: center;font-size:larger">
      <label style="font-size: larger;font-weight: bolder;color: black;">Select Item's Here</label>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-2" style="text-align: center;font-size: larger;font-weight: bold;">
      <label>Search:</label>
    </div>
    <div class="col-md-8">
      <input type="text" style="border-color:brown;" name="ename" class="form-control" [(ngModel)]="ename" (ngModelChange)="search()"/>
    </div>
    <div class="col-md-2"></div>
  </div>
  <br/>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <table class="table table-stripped" border="1" style="border-color: black;">
          <tr>
            <th style="font-weight: bold;font-size: larger;text-align: center;color: brown;">Product name</th>
            <th style="font-weight: bold;font-size: larger;text-align: center;color: brown;">Product price</th>
            <th style="font-weight: bold;font-size: larger;text-align: center;color: brown;">Option</th>
            
          </tr>
          <tr *ngFor="let i of product">
            <td style="font-size: larger;text-align: center;">{{i.productname}}</td>
            <td style="font-size: larger;text-align: center;">{{i.productprice}}</td>
            <td style="text-align: center;"><input type="submit" value="Select" class="btn btn-md btn-info" (click)="actionbutton(i.id)"/></td>
          </tr>
          </table>
         
        </div>
        <div class="col-md-2">
          
        </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-12" style="text-align: center;">
        <span >
          <input type="button" value="Submit" (click)="submitaction()" class="btn  btn-success btn-lg"/>
        </span>
      </div>
    </div>
</div>
