<div *ngIf="isnavbar">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user">User</a>
          </li> 
        </ul>
       
      </div>
    </div>
  </nav>
</div>

<!--Amin navbar-->
<div *ngIf="isnavbar1">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Admin</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/addproduct">Add Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/adminviewproduct">View All Product</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="/adminupdate">Password Update</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="/admin">Log Out</a>
          </li> 
        </ul>
        
      </div>
    </div>
  </nav>
</div>

<!--User navbar-->
<div *ngIf="isnavbar2">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">User</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/userviewproduct">Select Item</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/order">Your Order</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="/orderresult">Order Placed Detail</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="/user">logout</a>
          </li> 
        </ul>
       
      </div>
    </div>
  </nav>
</div>


<div>
  <router-outlet></router-outlet>
</div>